@use "../../../assets/styles/mixins" as *;

.todo-section {
    margin-bottom: 2em;
}
.todo-container{
    @include flex($dir:column,$gap:.5em);
    
}
.todo-items {
    padding-top: 20px;
    @include flex($dir:column,$gap:.5em);
    width: 100%;
}



.todo-container__header {
    margin-bottom:.1em;
}