@use "../../../assets/styles/mixins" as *;
.btns-section{
    padding-top: .8em;
    margin-bottom: 1em;
}
.container-input{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap:.4em;
}
.container-input__add-todo{
    font-size: 1.1rem;
    padding: .5em;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
    box-shadow: 1px 2px 3px 0px rgba($color: #000000, $alpha: .7);
    transition: all .2s ease-out;
    @include focus{
        outline: 3px solid rgb(0, 0, 0);
    }
    &:active{
        background-color:black;
        color:white;
    }
}
.container-input__todo-task{ 
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1em;
    padding: .5em;
}